.brand {
    color: var(--color-contrast-high);
}

[data-theme="dark"] {
    .brand:hover {
        text-shadow: 0 0 6px #f5d5e0;
        transition: text-shadow 300ms ease-in-out;
    }
}

[data-theme="light"] {
    .brand:hover {
        // dark glow
        text-shadow: 5px 3px 4px rgba(0, 0, 0, 0.2);

        transition: text-shadow 200ms ease-in-out;
    }
}