.brand {
    color: var(--color-contrast-high);
}

[data-theme="dark"] {
    .brand:hover {
        text-shadow: 0 0 6px #f5d5e0;
        transition: text-shadow 300ms ease-in-out;
    }
}

[data-theme="light"] {
    .brand:hover {
        // text-shadow:  0 0 2px #FFF01F;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        transition: text-shadow 300ms ease-in-out;
    }
}
