/**
 * Page sidebar TOC
 **/

// Desktop
@media (min-width: 1220px) {
    .old-toc-wrapper {
        display: none;
    }

    .new-toc-wrapper {
        float: right;
        clear: both;
        padding-right: 2rem;
        overflow-wrap: break-word;
        max-width: 15em;
        max-height: calc(95vh - 7rem);
        text-align: right;
        line-height: 2em;
    }

    #sidebar {
        position: fixed;
        top: 20vh;
        right: 0;
        opacity: 0;
        transition: opacity 0.3s linear;

        &.show {
            opacity: 1;
        }

        float: right;
        z-index: 100;
    }

    // first level 
    ol.toc>li {
        font-size: 0.9rem;
    }

    ol.toc>li a {
        color: var(--color-contrast-medium-high);

        &:hover {
            color: var(--color-primary);
        }
    }

    ol.toc>li a.a-active {
        color: var(--color-primary);
    }

    ol.toc li:before {
        margin-right: 3px;
        content: "#";
        color: #2bbc8a;
    }

    // second level
    ol.toc>li>ol li:before {
        content: "▹";
    }

    ol.toc>li>ol {
        font-size: 0.8rem;
        font-weight: initial;
    }

    ol.toc>li>ol a {
        color: var(--color-contrast-medium);

        &:hover {
            color: var(--color-primary);
        }
    }

    [data-theme="light"] {
        ol.toc>li>ol a {
            color: var(--color-contrast-medium-high);
        }
    }


    // third level
    ol.toc>li>ol>li>ol li:before {
        content: "·";
    }

    ol.toc>li>ol>li>ol {
        font-size: 0.7rem;
    }

    ol,
    ul {
        &.toc {
            white-space: normal;
        }
    }
}

// Mobile
@media (max-width: 1220px) {
    .old-toc-wrapper {
        display: block;
    }

    .new-toc-wrapper {
        display: none;
    }

    // TODO: mobile TOC widget
}