{{ define "main" }}
<main class="main list" id="main">
    <div class="main-inner">
        <div class="content">
            <h1 class="list-title">Archive</h1>
            <div class="post-description"> 
                <span class="archive-view-toggle ar-v1">date</span>
                <span class="archive-view-toggle ar-v2">tags</span>
            </div>
            <div id="ar-v1" class="list-group archive-view-inactive">
                {{ partial "pages/archive-date.html" . }}
            </div>
            <div id="ar-v2" class="archive-view-inactive">
                {{ partial "pages/archive-tags.html" . }}
            </div>
        </div>
    </div>
</main>
{{ end }}
