{{ define "main" }}
<main class="main single" id="main">
    <div class="main-inner">
        {{ partial "pages/category-toc.html" . }}
        {{ $currentSection := lower .CurrentSection.Title }}
        <section class="shelf">
            <div class="shelf-container"> 
                <!-- TODO: Should just display all the ones in current section and use pagination + lazy loading... -->
                <!-- The book categories on the side should be simply redirection link...  -->
                {{ range (where .Site.RegularPages "Section" "in" (slice "books")) }}
                <div class="book-item-container category-toc-i-entry {{lower .CurrentSection.Title }}">  
                    <div class="book-item">
                        <a class="book-item-click book-item-interactive" href="{{.RelPermalink}}" tabindex="0">
                            <div class="book-cover fixed-aspect-ratio">
                                <!-- https://openlibrary.org/dev/docs/api/covers -->
                                <div class="book-cover-image">
                                    <img class="responsive-image lazyload" src="{{.Params.smallCover}}" data-src="{{.Params.cover}}" alt="{{.Title}}"/>
                                </div>
                            </div>
                            <!--<div class="book-content">
                                <div class="book-title">
                                    {{.Title}}
                                </div>
                                <div class="book-author-name">
                                    {{.Params.author}}
                                </div>
                            </div>-->
                        </a>
                    </div>
                </div>
                {{ end }}
            </div>
        </section>
    </div>
</main>
{{ end }}
